@model List<ItemVM>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .scrollable-table-wrapper {
        max-height: 300px; /* Adjust height as needed */
        overflow-y: auto;
    }

    .scrollable-table-wrapper::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
    }

    .scrollable-table-wrapper::-webkit-scrollbar-track {
        background-color: transparent; /* Transparent background */
    }

    .scrollable-table-wrapper::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3); /* Transparent with some opacity */
        border-radius: 5px; /* Rounded corners */
    }
</style>

<div class="container">
    <div class="row justify-content-center align-items-center py-2">
        <div class="col-sm-12 text-center">
            <div class="scrollable-table-wrapper">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr class="table-light  text-center" >
                            <th scope="col">ID</th>
                            <th scope="col" >Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr class="table-secondary">
                                <th scope="col">@item.Id</th>
                                <td>@item.Name</td>
                                <td>@item.Price $</td>
                                <td>@item.Quantity</td>
                              <td>
                             <div class="btn-group" role="group" aria-label="Basic example"> 
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#EdiModal">  <i class="bi bi-pencil-square"></i> </button>
                                 <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#AddModal">add item</button>

                             <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#RemoveModal"> <i class="bi bi-trash3-fill"></i></button>

                                </div> 
                            </td>
                             
                                
                                @* <td>
                                </td>
                                <td>

                                </td> *@

                                
<!--Add Modal -->
<div class="modal" id="AddModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Add Item @item.Name to Transaction </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
      
<div>
<label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
  <input type="number" class="form-control" placeholder="1" id="quantity">
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!--edit Modal -->
<div class="modal" id="EdiModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Edit Item @item.Name </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">

<form > 
   @* asp-action="EditPoints" asp-controller="Item" method="post"> *@
   
                <div class="form-group">
                <label asp-for="@item.Name" name="Name" class="col-sm-2 col-form-label">Name</label>
                    <input type="text" class="form-control form-control-sm" asp-for="@item.Name" name="Name"  />
                
                
                </div>

                <div>
                <label asp-for="@item.Quantity" name="Quantity" class="col-sm-2 col-form-label">Quantity</label>
                    <input type="number" class="form-control form-control-sm" asp-for="@item.Quantity" name="Quantity"  />

                </div>      
                       <div>
                <label asp-for="@item.Price" name="Price" class="col-sm-2 col-form-label">Price</label>
                    <input type="number" class="form-control form-control-sm" asp-for="@item.Price" name="Price"  />

                </div>      
  </form>

      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Remove Modal -->
<div class="modal" id="RemoveModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Remove Item </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to remove item  @item.Name ? </p>
      </div>
      <div class="modal-footer">
        @* <a class="btn btn-danger" asp-controller="Admin" asp-action="RemoveUser" asp-route-id="@item.Id"> حذف المستفيد نهائيا </a> *@
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



                            </tr>




                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


